{%  extends 'seller_header.html'  %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="" !important>
<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3" style="line-height: 0.5!important; ">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 10px;">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-3">Add Product</h2>
              {% if msg%}
              <h4 style="color:black;">{{msg}}</h4>
              {% endif %}
              <form action="{% url 'add_product'%}"  method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <select id="form3Example1cg" class="form-control form-control-lg" name="product_collection"  >
                    <option >------Product Collection------</option>
                    <option value="men">Men</option>
                    <option value="women">WoMen</option>
                    <option value="kids">Kids</option>
                  </select>
                </div>
                <div class="form-outline mb-4">
                  <select id="form3Example1cg" class="form-control form-control-lg" name="product_category" >
                    <option >------Product Category-----</option>
                    <option value="cloth">Cloth</option>
                    <option value="footwear">Footwear</option>
                    <option value="watch">Watchs</option>
                    <option value="accessoies">Accessories</option>
                  </select></div>
                  <div class="form-outline mb-4">
                    <select id="form3Example1cg" class="form-control form-control-lg" name="product_size" >
                      <option >------Product Size-----</option>
                      <option value="s">Small</option>
                      <option value="m">Medium</option>
                      <option value="l">Large</option>
                      <option value="xl">Extra-Large</option>
                    </select>
                    
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form3Example3cg" class="form-control form-control-lg"  name="product_price" placeholder="PRODUCT Price" />
                    
                  </div>
                  
                  <div class="form-outline mb-4">
                    <input type="file" id="form3Example4cg" class="form-control form-control-lg"  name="product_image" />
                    
                  </div>
                  <div class="form-outline mb-4">
                    <textarea id="form3Example4cdg" class="form-control form-control-lg" name="product_discription" placeholder="ENTER PRODUCT DISCREPTION"></textarea> 
                    
                  </div>
                  
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-success btn-block btn-lg gradient-custom-4 text-body submit_btn">Add Product</button>  
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}